



<!--  header -->
    <header class="intro-header" style="background-image: url('http://cdn.isorepublic.com/wp-content/uploads/2014/09/game-of-thrones-1500x1000.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">


                        <!-- <span class="subheading">A Clean Blog Theme by Start Bootstrap</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- rss feeds making game of thrones-->
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div ng-repeat="feed in feeds " class="post-preview" ng-show="feed.display">
                    <a href="/feeds/{{feed.id}} ">
                      <h2 class="post-title">
                          {{feed.title}}
                      </h2>
                    </a>
                      <h4 class="post-subtitle">
                          {{feed.summary}}
                      </h4>

                      <div>
                        LIKE : {{feed.votes}}   <i ng-click="favorite(feed)" ng-class="{'fa-heart': feed.favorite, 'fa-heart-o': !feed.favorite}" class="fa fa-lg pull-right heart" aria-hidden="true"></i>
                      </div>
                    </div>
                  <hr>





                <!-- Pager -->
                <ul class="pager">
                      <li class="next" ng-if="totalVisible > 10" >
                          <a ng-click="toggleShow()">Load more &rarr;</a>
                      </li>

                </ul>

          </div>
      </div>
    </div>

    <hr>
</div>

    <!-- Footer -->
    <footer style="padding:10px 0px 10px 0px">
        <div class="container">
            <div class="row">
<div class="col-lg-2  col-md-1 ">
                <p class="copyright text-muted">Copyright &copy; COT 2016</p>
              </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                    <ul class="list-inline text-right">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
