



<!--  header -->
    <header class="intro-header" style="background-image: url('http://static1.squarespace.com/static/52fc05c9e4b08fc45bd99090/5331dfe2e4b0f77da2ddde51/57a5012d6b8f5b05fd5d103f/1470850518409/mgot-header-empty-throne-1024x576.jpg?format=750w')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Feeds</h1>
                        <hr class="small">
                        <!-- <span class="subheading">A Clean Blog Theme by Start Bootstrap</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- rss feeds making game of thrones-->
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div ng-repeat="feed in feeds | limitTo:items" class="post-preview" ng-show="feed.display">
                    <a href="/feeds/{{feed.id}} ">
                      <h2 class="post-title">
                          {{feed.title}}
                      </h2>
                    </a>
                      <h4 class="post-subtitle">
                          {{feed.summary}}
                      </h4>

                      <div>
                        Vote :    <i ng-click="favorite(feed)" ng-class="{'fa-heart': feed.favorite, 'fa-heart-o': !feed.favorite}" class="fa fa-lg pull-right heart" aria-hidden="true"></i>
                      </div>
                    </div>
                  <hr>





                <!-- Pager -->
                <ul class="pager">
                      <li class="next" ng-if="totalVisible > 10" >
                          <a ng-click="toggleShow()">Older Posts &rarr;</a>
                      </li>

                </ul>

          </div>
      </div>
    </div>

    <hr>
</div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>








    <%= link_to "create a new feed !", "/feeds/new", method: :get %>
