<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    
<h1>Here is the feed !</h1>
<%= render "partial" %>


<%= link_to "update", "/feeds/#{@feed.id}/edit", method: :get %>
<br>

<%= link_to "delete", "/feeds/#{@feed.id}", method: :delete %>
