<div style="text-align:center;">
   <h2 style="padding-top:200px;">Which House is your fate?</h2>
</div>

<!-- embedded javascript quiz -->
<div style="padding:120px;" id="housequiz" class="pb_feed" data-embed-by="2a62c4d3-bcfc-45aa-9628-ed607eb5acd9" data-game="/unoriginal10/which-game-of-thrones-house-are-you-in" data-recommend="false" data-game-info="false" data-comments="false" data-shares="false" >
</div>
<script type="text/javascript" src="//cdn.playbuzz.com/widget/feed.js"></script>

<!-- confirmation area -->

<div class="container">
    <%= form_tag("/test", method:"patch") do %>
      <div >
          <div class="title-v1">
            <h2>Confirm your House Name or Just choose what you like</h2>
            <p>         <%= label_tag(:house_id) %>
                <%= select_tag(:house_id, options_for_select(@house_choices) , {:class => "selectpicker show-tick"}) %></p>
          </div>
      </div>
    <div class="col-md-4 col-md-offset-4 text-center" >
        <input type="submit" class="btn btn-primary" value="Confirm!" />
     </div>
  <% end %>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6  text-center" >
        <a href="/test" class="btn-u btn-brd btn-brd-hover btn-u-light">Rewind Please</a>
       </div>
       <div class="col-md-6 text-center" >
          <a href="/skip" class="btn-u btn-brd btn-brd-hover btn-u-light">Skip the test</a>
      </div>
    </div>
</div>

<div class="container">
  <div class="copyright-section">
    <br>
    <br>
    <p><%= Time.now.year %> &copy; All Rights Reserved. </p>
      <!-- <p>	Unify Theme by <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a></p> -->
    <!-- <ul class="social-icons">
      <li><a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
      <li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
      <li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
      <li><a href="#" data-original-title="Pinterest" class="social_pintrest rounded-x"></a></li>
      <li><a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
    </ul> -->

  </div>
</div>

<!-- may be in use area -->


<div ng-app="app">
   <div ng-controller="getHouseCtrl" >

  </div>
</div>
